# Third party modules
/node_modules
npm-debug.log
/vendor
yarn-error.log

# Homestead
/.vagrant
Homestead.json
Homestead.yaml

# PHP Storm
/.idea

#sublime files
*.sublime-*

# Public
/public/hot
/public/storage
/public/images/*.png
/public/js/*.js*
/public/css/*.css*

# Config
.env

# Storage
/storage/*.key

# Debug files
auctions.json
achievements.json
