@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
  background: url("../background.jpg");
}

.btn {
  color: #ffb100;
}

.btn-search {
  background-color: #6a240b;
}

.btn-search:hover, .btn-search:focus {
  color: #f5ebd1;
}

.close {
  color: #ffae00;
}

.container-fmts {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.fmts-img {
  width: 18px;
  height: 18px;
}

.form-control {
  background-color: #f5ebd1;
}

.wow-modal-header {
  background-color: #6a240b;
  border: none;
}

.wow-modal-body {
  background-color: #231207;
  color: #f5ebd1;
}

.navbar-default {
  background-color: #2b1507;
  border: none;
  margin-bottom: 0px;
}

.navbar-default .navbar-toggle {
  color: #f5ebd1;
  border-color: #f5ebd1;
  background-color: #2b1507;
}

.navbar-default .navbar-toggle .icon-bar {
  color: #f5ebd1;
  background-color: #f5ebd1;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #6a240b;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs li {
  background-color: #2b1507;
  border: none;
}

.nav-tabs li a {
  color: #ffb100 !important;
}

.nav-tabs li a:hover {
  background-color: #6a240b !important;
  border: none;
}

.nav-tabs li.active a {
  border: none !important;
  background-color: #6a240b !important;
}

.nav-tabs li:hover {
  background-color: #6a240b !important;
  border: none;
}

.panel {
  border: none;
}

div.panel-body {
  background-color: #231207;
}

.panel-main > .panel-heading {
  background-color: #6a240b;
  border-bottom: none;
}

.panel-main > .panel-heading h1, .panel-main > .panel-heading h2, .panel-main > .panel-heading h3, .panel-main > .panel-heading h4, .panel-main > .panel-heading h5, .panel-main > .panel-heading h6 {
  color: #f5ebd1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-main .panel-body h1, .panel-main .panel-body h2, .panel-main .panel-body h3, .panel-main .panel-body h4, .panel-main .panel-body h5, .panel-main .panel-body h6 {
  color: #f5ebd1;
}

.panel-main .wow-panel-grouped > .panel-heading {
  background-color: #2b1507;
  border: none;
}

.panel-main .wow-panel-grouped h1, .panel-main .wow-panel-grouped h2, .panel-main .wow-panel-grouped h3, .panel-main .wow-panel-grouped h4, .panel-main .wow-panel-grouped h5, .panel-main .wow-panel-grouped h6, .panel-main .wow-panel-grouped p {
  padding: 0 0 !important;
  margin: 0 0 !important;
}

.panel-main .wow-panel-grouped p {
  color: #f5ebd1;
}

.panel-main .panel-danger a {
  color: #b30000;
}

.panel-main .panel-warning a {
  color: #ffb100;
}

.panel-main .panel-success a {
  color: #3c763d;
}

.panel-main .panel-pending a {
  color: #444 !important;
}

.panel-main .profession-panel > .panel-heading {
  color: #f5ebd1;
}

.panel-main .profession-panel > .panel-heading a {
  color: #f5ebd1;
}

.panel-main .reputation-panel.reputation-panel-0 a {
  color: #cc2222;
}

.panel-main .reputation-panel.reputation-panel-1 a {
  color: red;
}

.panel-main .reputation-panel.reputation-panel-2 a {
  color: #ee6622;
}

.panel-main .reputation-panel.reputation-panel-3 a {
  color: yellow;
}

.panel-main .reputation-panel.reputation-panel-4 a {
  color: lime;
}

.panel-main .reputation-panel.reputation-panel-5 a {
  color: #00ff88;
}

.panel-main .reputation-panel.reputation-panel-6 a {
  color: #00ffcc;
}

.panel-main .reputation-panel.reputation-panel-7 a {
  color: cyan;
}

th {
  font-weight: bold;
  color: #f5ebd1;
  padding-bottom: 10px;
  border-bottom: 1px solid #f5ebd1;
}

th a {
  color: #f5ebd1;
}

th a:hover {
  color: #f5ebd1;
}

td {
  border: none !important;
  color: #f5ebd1;
}

tr:nth-child(odd) {
  background-color: #231207;
}

tr:nth-child(even) {
  background-color: #2b1507;
}

tr td:nth-child(1) span {
  color: #f5ebd1;
  font-weight: normal;
}

.td-yes {
  color: #3c763d;
  font-weight: bold;
}

.td-no {
  color: #b30000;
  font-weight: bold;
}

select {
  background-color: #f1ebd7;
  color: #171717;
  border: none;
  border-radius: 3px;
  font: 11px system-ui;
}

.char-link {
  font-weight: bold;
}

.char-link.char-link-1 {
  color: #c69b6d !important;
}

.char-link.char-link-2 {
  color: #f48cba !important;
}

.char-link.char-link-3 {
  color: #aad372 !important;
}

.char-link.char-link-4 {
  color: #fff468 !important;
}

.char-link.char-link-5 {
  color: #fff !important;
}

.char-link.char-link-6 {
  color: #c41e3b !important;
}

.char-link.char-link-7 {
  color: #2359ff !important;
}

.char-link.char-link-8 {
  color: #68ccef !important;
}

.char-link.char-link-9 {
  color: #9382c9 !important;
}

.char-link.char-link-10 {
  color: #00ffba !important;
}

.char-link.char-link-11 {
  color: #ff7c0a !important;
}

.char-link.char-link-12 {
  color: #a330c9 !important;
}

.chart-tooltip {
  background-color: #222;
  color: #fff;
  position: absolute;
  padding: 5px;
  font-size: 0.8em;
  max-width: 75px;
}

div.google-visualization-tooltip {
  background-color: #222 !important;
  border: none;
}

div.google-visualization-tooltip > ul > li > span {
  font-size: 0.8em;
  color: #f5ebd1 !important;
}

/*# sourceMappingURL=app.css.map */
