
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// WoW colours
$background-dark: #2b1507;
$panel-background-default: #231207;
$title-background-default: #6a240b;

$select-background-color: #f1ebd7;
$select-text-color: #171717;

$font-default: #f5ebd1;
$font-orange: #ffb100;
$font-danger: #b30000;
$font-warning: #ffb100;
$font-success: #3c763d;
$font-pending: #444;

$font-reputation-hated: #cc2222;
$font-reputation-hostile: red;
$font-reputation-unfriendly: #ee6622;
$font-reputation-neutral: yellow;
$font-reputation-friendly: lime;
$font-reputation-honored: #00ff88;
$font-reputation-revered: #00ffcc;
$font-reputation-exalted: cyan;

$font-warrior: #c69b6d;
$font-paladin: #f48cba;
$font-hunter: #aad372;
$font-rogue: #fff468;
$font-priest: #fff;
$font-death-knight: #c41e3b;
$font-shaman: #2359ff;
$font-mage: #68ccef;
$font-warlock: #9382c9;
$font-monk: #00ffba;
$font-druid: #ff7c0a;
$font-demon-hunter: #a330c9;
